<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-soft btn-secondary lg:hidden">
  
      </div>
    </div>
    <a class="btn btn-ghost text-xl">YOGApp</a>
  </div>
  <div class="navbar-center hidden  lg:flex">
    <ul class="menu menu-horizontal px-1" >
      @for(page of pages; track $index) {
        <li ><a href="{{page.path}}">{{page.label}}</a></li>
      }

    </ul>
  </div>
  <div class="navbar-end">
    <!-- <a class="btn">Button</a> -->
  </div>
</div>
